<!DOCTYPE html>
<html>
<head>
    <title>Edit Subscriber</title>
</head>
<body>
    <h1>Edit Subscriber</h1>
    <form action="/subscribers/<%= subscriber._id %>?_method=PUT" method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%= subscriber.name %>" required>
        <label>Email:</label>
        <input type="email" name="email" value="<%= subscriber.email %>" required>
        <label>Account:</label>
        <input type="text" name="account" value="<%= subscriber.account %>" required>
        <label>Password:</label>
        <input type="password" name="password" value="<%= subscriber.password %>" required>
        <button type="submit">Update Subscriber</button>
    </form>
</body>
</html>
